* {
  box-sizing: border-box;
}

body *{
    font-family: 'Gilroy', sans-serif;
}

.wrapper {
    width: 1320px;
    margin-right: auto;
    margin-left: auto;
}

a {
  text-decoration: none;
}

.header {
  background-color: #FFFFFF;
  padding-top: 33px;
  padding-bottom: 30px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.logo {
  width: 244px;
  height: 45px;
}

.header-personal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-phone {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.phone {
  color: #000000;
  font-size: 18px;
}

.header-phone::before {
  content: url(../images/carbon_phone.png);
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 9px;
}

.header-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-cart-icon {
  width: 35px;
  height: 38px;
}

.header-cart {
  margin-right: 15px;
}

.personal-account {
  width: 25px;
  height: 25px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link {
  color: #4F4F4F;
  font-size: 18px;
  font-weight: 500;
}

.header-link:not(:last-child) {
  margin-right: 40px;
}

.dropdown::after {
  content: url(../images/dropdown.png);
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.header-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 345px;
  background-color: #F2F2F2;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.search {
  height: 21px;
  border: none;
  background: transparent;
    
}

.search::placeholder {
  /* font-family: 'Gilroy', sans-serif; */
  font-size: 18px;
  font-weight: 400;
  color: #828282;
}

.search-button {
  border: none;
}

.search-icon {
  width: 30px;
  height: 30px;
 }

 .main {
  padding-top: 75px;
  padding-bottom: 100px;
  background-color: #F9F9F9;
 }

 .main-top {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
 }

 .main-link {
  display: flex;
  align-items: center;
  color: #BDBDBD;
  font-size: 18px;
  font-weight: 500;
 }

 .main-link::after {
  display: inline-block;
  content: '';
  width: 6px;
  height: 6px;
  background-color:#BDBDBD;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;
 }

 .main-title {
  color: #BDBDBD;
  font-size: 18px;
  font-weight: 500;
 }

 .back-link {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 20px;
  font-weight: 500;
 }

 .back-link::before {
  content: url(../images/back-arrow.png);
  width: 18px;
  height: 18px;
 }

 .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 45px;
  column-gap: 20px;
  margin-top: 44px;
 }

 .card {
  width: 315px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  border: 1px solid #F2F2F2;
  background: #F9F9F9;
  box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.05), -8px -8px 15px 0px #FFF;
 }

 .product-img {
  width: 275px;
  height: 227px;
  border-radius: 5px;
 }

 .card-product-name {
  color: #333;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 25px;
  margin-bottom: 5px;
 }

 .product-type {
  color: #828282;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 25px;
 }

 .price {
  color: #333;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 25px;
 }

 .card-form {
  /* font-family: 'Gilroy', sans-serif; */
 }

 .card-form-radio {
  margin-bottom: 25px;
}
.card-form-radio-btn {
  display: inline-block;
  margin-right: 1px;
}
.card-form-radio-btn input {
  display: none;
}
.card-form-radio-btn input:checked + label {
  background-color: #FFFFFF;
  border: 1px solid #3ECF5E;
}
.card-form-radio-btn label {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4F4F4F;
  /* cursor: pointer; */
  padding: 4px 12px;
  border-radius: 5px;
  user-select: none;
}

.card-actions {
  display: flex;
  justify-content: space-between;
}

.card-read-more {
  padding: 12px 32px;
  border-radius: 10px;
  border: 1px solid #05AF3487;
  background: #3FCF5E;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;  
}  

.card-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #BDBDBD;
  width: 45px;
  height: 45px;
}

.card-buy-img {
  width: 27px;
  height: 27px;
}

.link-pages {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.link-page {
  color: #828282;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.link-page.active {
  color: #219653;
  font-weight: 700;
}

.link-previous-page {
  background-image: url(../images/Arrow-left.png);
  width: 16px;
  height: 16px;
}

.link-next-page {
  background-image: url(../images/Arrow-right.png);
  width: 16px;
  height: 16px;
}

.footer {
  background-color: #333333;
}

